body {
  color: #333232;
  text-align: center;
  margin-top: 3em;
  font-size: 3em;
  font-family: Roboto, sans-serif;
}

.background {
  background-image: url("bitcoin.png");
  background-size: cover;
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.2;
}
